{:deps
 {org.clojure/clojure {:mvn/version "1.11.1"}
  club.donutpower/system {:mvn/version "0.0.127"}
  ring/ring-core {:mvn/version "1.9.5"}
  ring/ring-jetty-adapter {:mvn/version "1.9.5"}
  ring/ring-json {:mvn/version "0.5.1"}
  clj-http/clj-http {:mvn/version "3.12.3"}}

 :aliases
 {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}
         :extra-paths ["test"]
         :main-opts   ["-m" "kaocha.runner"]}
  :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  :run {:main-opts ["-m" "stackexchange.core"]}}}
